<% if flash[:notice] %>
  <%= render "notification"%>
<% end%>

<h1>My To-Do Lists</h1>

<div id="lists">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Todo Item</th>
        <th scope="col">Description</th>
        <th scope="col">Completed</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @lists.each do |list| %>
        <%= render list %>
      <% end %>
    </tbody>
  </table> 
</div>

<%= link_to "Add a New To-Do", new_list_path %>
